
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Whoops!</title>
</head>
<body>
    <p>This content has been lost to the sands of time. Our <em>temporal archaelogists</em> are hard at work on this issue.</p>
</body>
</html>
