
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to my home on the web.</h1>
    <p>
        This will be something nifty pretty soon, one hopes&#8230;so stay a while and listen.
    </p>
</body>
</html>
